.title {
  color: orange;
  text-shadow: palegoldenrod;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 900;
  font-size: 60px;
  padding-top: 25px;
  text-align: center;
}
